@page "/"

@using BlazorSmartFormValidation.Models

<PageTitle>Registration Form</PageTitle>

<div class="main-container">

    <div class="form-check-card">

        <div class="header-section">
            <h1>User Registration</h1>
            <p>
                Form Validation using EditForm and DataAnnotations
            </p>
        </div>
    </div>
</div>